<h1>pipe</h1>
<div class="form-group">
    <label for="number">Number</label>
    <input type="text" [(ngModel)]="number" class="form-control">
    <p>{{number}}</p>
    <button class="btn btn-sucess" (click)="mudarValor()">Click</button>
</div>
<div class="">
    <p>SLICE {{text | slice: 6:11}}</p>

    <p>Data</p>
    <p>{{date}}</p>

    <p>Data Brasil: {{date | date: 'dd/MM/yyyy'}}</p>
    <p>{{date | date: 'short'}}</p>
    <p>{{date | date:'full' | uppercase }}</p>

    <p>sem formatação</p>
    <p>{{number | number}}</p>
    <p>Com formatação</p>
    <p>{{number | number: '2.0'}}</p>


    <P>formatação em moeda</P>
    <p>{{number | currency: 'BRL' }}</p>
    <p>{{text | uppercase }}</p>

    <p>{{pessoa | json }}</p>

    <h1>PIPE CRIADO</h1>
    <input type="text" name="text" id="text" #nome>
    <button (click)="add(nome.value)">Add</button>

    <h3>Lista Formatada {{nomes.length}}</h3>
    <p>{{nomes | printList }}</p>
</div>